@import url("https://fonts.googleapis.com/css?famly=Ubuntu:400,700,500|Inter:400,500");

.banner {
    align-items: center;
    background: linear-gradient(180deg, rgb(190,168,245) 0%, rgba(190,168,245,0) 100%);
    position: 'relative';
    width: '500px';
    height: '500px';
    left: 0;
    top: '-103px';
    display: flex;
    justify-content: flex-end;
    min-width: 1440px;
    padding: 5px 13px;
}
.overlap-group3 {
    align-self: flex-end;
    height: 124px;
    margin-left: 582px;
    position: relative;
    width: 503px;
}
.your-account{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    left: 0;
    min-height: 63px;
    position: absolute;
    top: 10px;
    width: 414px;
}
.your-account1{
    height: 21px;
    letter-spacing: -0.18px;
    margin-right: 85px;
    min-width: 112px;
    text-align: center;
}
.MetamaskId{
    align-self: flex-end;
    height: 21px;
    letter-spacing: -0.18px;
    min-width: 480px;
    text-align: center;
    margin-right: 35px;
}
.AccountBalance{
    height: 21px;
    letter-spacing: -0.18px;
    margin-right: 80px;
    min-width: 218px;
    text-align: center;
}
.overlap-group2{
    top: 0;
    height: 124px;
    left: 291px;
    position: absolute;
    width: 212px;
 
}
.overlap-group{
    -webkit-backdrop-filter: blur(20px) brightness(100%);
    backdrop-filter: blur(20px) brightness(100%);
    background: linear-gradient(180deg, rgb(225,225,225) 0%, rgba(225,225,225,0) 100%);
    border-radius: 40px;
    height: 43px;
    left: 0;
    position: absolute;
    top: 81px;
    width: 132px;

}
.LogOutButton{
    height: 39px;
    left: 2px;
    mix-blend-mode: overlay;
    position: absolute;
    top: 1px;
    width: 128px;
    align-self: flex-end;
    letter-spacing: -0.18px;
    text-align: center;
    font-size: large;
    font-family: sans-serif;
    margin-right: 200px;
}
.userAvatar{
    -webkit-backdrop-filter: blur(12px) brightness(100%);
    align-items: flex-start;
    backdrop-filter: blur(12px) brightness(100%);
    background-color: white;
    border-radius: 41px/41.22px;
    display: flex;
    height: 70px;
    left: 340px;
    min-width: 70px;
    position: absolute;
    top: -30px;
    padding: 17px 13px;
    box-shadow: inset -2px 2px 12px #00000040, inset -2px 2px 12px #00000040, -2px 2px 12px #00000040;
}
.childContainer{
    height: 48px;
    position: relative;
    width: 56px;
}
.child-back{
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 28px;
    min-height: 29px;
    padding: 0px 0;
    position: absolute;
    top: 14px;
    width: 28px;
}
.ellipse-14{
    background: linear-gradient(180deg, rgb(225,183,160) 0%, rgba(200,189,243) 100%);
    border-radius: 6.74px/6.3px;
    height: 13px;
    margin-left: 0;
    width: 13px;
}
.Subtract{
    height: 12px;
    margin-top: 4px;
    width: 28px;
}
.ChildFront{
    box-shadow: inset 0px -2px 10px #c1bbd94c, inset -2px 2px 10px #c5b9f2, 2px -2px 12px #a694c880;   
    align-items: center;   
    display: flex;
    min-height: 48px;
    left: 0;
    width: 42px;
    position: absolute;
    top: 0;
    padding: 17px 13px;   
    flex-direction: column;
}
.ellipse-14-1{
    background-color: rgba(255,183,160,1);
    border-radius: 10.04px/10.43px;
    height: 21px;
    margin-left: 0;
    width: 20px;
}
.SubtractFront{
    height: 20px;
    margin-top: 7px;
    width: 42px;
}