@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700,500|Inter:400,500");


.container{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 1em 4em 0 ;
    justify-content: space-between;
}

/* yazıların hepsi */
.your-account{
    direction: rtl;
    margin: 1em 1em 0 -3em;
    
}

/*sadece your acc yazısı*/
.your-account1{
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 700;
    line-height: 1,25em;
    letter-spacing: -0.01em;

}

/*address*/
.MetamaskId{

    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.01em;

}

/*3. satır acc balance yazısı*/
.AccountBalance{
    direction: rtl;
    letter-spacing: -0.18px;
}

.UbuntuMedium{
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: center;
}

.UbuntuBold{
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: center;
}

.overlap-group2{
    top: 0;
    height: 124px;
    width: 20em;
}

.LogOutButton{
    mix-blend-mode: overlay;
    top: 2px;
    width: 128px;
    letter-spacing: -0.18px;
    text-align: center;
    font-size: large;
    font-family: sans-serif;
    height: 40px;
    border-radius: 40px;
    direction: rtl;
}

.userAvatar{
    -webkit-backdrop-filter: blur(12px) brightness(100%);
    backdrop-filter: blur(12px) brightness(100%);
    background-color: white;
    border-radius: 41px/41.22px;
    left: 40%;
    min-width: 2.3em;
    top: 6%;
    box-shadow: inset -2px 2px 12px #00000040, inset -2px 2px 12px #00000040, -2px 2px 12px #00000040;
    color: pink; 
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    position: absolute;
    margin-left: 4em;

}